doctype html
html
  head
    meta(charset='utf-8')
    title 展示架子鼓
    link(rel='stylesheet',href='static/styles/drum_display.css')
  body
    //h1 Show Drum
    .content-box
      #WebGL-output
    .control-box
    script(src='static/scripts/lib/three.js')
    script(src='static/scripts/lib/MTLLoader.js')
    script(src='static/scripts/lib/OBJLoader.js')
    script(src='static/scripts/collision.js')
