doctype html
html
  head
    meta(charset='utf-8')
    title 架子鼓-demo
    link(rel='stylesheet', href='static/styles/index.min.css')
  body
    .content-box
      .nav
        ul.nav-list
          li.nav-item
            a 架子鼓Demo-首页
      .main
      .footer
    script(src='static/scripts/bundle.js')
